[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flattabler"]
	path = flattabler
	url = https://github.com/josesamos/flattabler
[submodule "geodimension"]
	path = geodimension
	url = https://github.com/josesamos/geodimension
