[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flattabler"]
	path = flattabler
	url = https://github.com/josesamos/flattabler
[submodule "geodimension"]
	path = geodimension
	url = https://github.com/josesamos/geodimension
[submodule "geogenr"]
	path = geogenr
	url = https://github.com/josesamos/geogenr
[submodule "geomultistar"]
	path = geomultistar
	url = https://github.com/josesamos/geomultistar
[submodule "rolap"]
	path = rolap
	url = https://github.com/josesamos/rolap
[submodule "satres"]
	path = satres
	url = https://github.com/josesamos/satres
[submodule "starschemar"]
	path = starschemar
	url = https://github.com/josesamos/starschemar
[submodule "when"]
	path = when
	url = https://github.com/josesamos/when
